@charset "utf-8";
/* CSS Document */
/* #banner{
	width:100%;
	height:300px;
	background:url("../images/shadow.jpg") no-repeat center;
}
#banner .center{
	width:1280px;
	height:300px;
	margin:0 auto;
	position:relative;
}
#banner hgroup{	
	position:absolute;
	top:90px;
	right:0px;
	bottom:0px;
	left:100px;
	color:#fff;
}
#banner h2{
	font-size:36px;
	letter-spacing:1px;
	line-height:1.5;
}

#content{
	width:1280px;
	height:1200px;
	margin:30px auto;


}*/
.left{
	width:910px;
	height:1200px;
	float:left;

}
.text{
	width:910px;
	height:460px;

}
.text h2{
	font-size:32px;
	height:60px;
	line-height:60px;
	font-weight:normal;
	border-bottom:1px dashed #ccc;
	color:#666;
	text-indent:5px;

}
.text .pp{
	padding:20px;
	font-size:18px;
	color:#666;
	line-height:1.5;
	letter-spacing:1px;
}









/*.boxsize{
	width:340px;
	height:1200px;
	float:right;

}
.box{
	width:340px;
	border:1px solid #ccc;
	margin-bottom:10px;
}
.box h2{
	height:42px;
	line-height:42px;
	font-size:20px;
	font-weight:normal;
	text-align:left;
	text-indent:10px;
	border-bottom:1px solid #ccc;
	color:#666;

}
.box .list{
	padding:10px;
}
.list a{
	display:inline-block;
	width:100px;
	height:35px;
	background:#eee;
	line-height:35px;
	color:#888;
	text-align:left;
	text-indent:30px;
	margin:2px 0px;
}
a:hover{
	background:green;
}
.box figure{
	display:inline-block;
	margin:4px 2px;
}
.box figcaption{
	text-align:center;
	margin:6px 0px 0px 0px;
	color:#888;
}
.box .lis{
	padding:10px;
}
.lis a{
	display:inline-block;
	width:150px;
	height:40px;
	color:#888;
	text-align:left;
	line-height:40px;
	text-indent:30px;
	margin:4px 0px 4px 0px ;
}
.lis a:nth-child(1){
	background: #eee url("../images/trea1.png") no-repeat  10px center;
}
.lis a:nth-child(2){
	background: #eee url("../images/trea2.png") no-repeat  10px center;
}

.lis a:nth-child(3){
	background: #eee url("../images/trea3.png") no-repeat  10px center;
}

.lis a:nth-child(4){
	background: #eee url("../images/trea4.png") no-repeat  10px center;
}*/


