@charset "utf-8";
/* CSS Document */

img{
	max-width:425px;
}
.enjoy{
	width:910px;
	height:1200px;
	float:left;

}
.enjoy h2{
	height:50px;
	line-height:50px;
	text-align:left;
	text-indent:5px;
	border-bottom:1px dashed #ccc;
	color:#666;

}
.hot{
	width:910px;
	padding:10px;
}
.hot figure{
	display:inline-block;
	border:1px solid #ccc;
	border-radius:5px;
	width:435px;
	padding:5px;
	margin:15px 2px 15px 2px;
}
.hot figcaption{
	margin:10px;
	text-align:center;
	color:#666;
	margin:10px 0px 10px 0px;
}
.loding{
	width:200px;
	height:50px;
	border-radius:5px;
	border:1px solid #ccc;
	margin:0 auto;
	cursor:pointer;
}
.loding h2{
	border:none;
	text-align:center;
	color:#666;
	line-height:50px;

}
